<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>To-Do Items</h2>

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#task-list" aria-controls="task list" role="tab" data-toggle="tab">Pending Tasks</a></li>
                <li role="presentation"><a href="#add-task" aria-controls="add task" role="tab" data-toggle="tab">Add Task</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="task-list">
                    <br>
                    <div class="well">
                        <legend> Pending Tasks </legend>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="tasks-table">
                                <thead>
                                    <tr class="text-blue">
                                        <th> Action </th>
                                        <th> User </th>
                                        <th> Task </th>
                                        <th> Notes </th>
                                        <th> Category </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#if tasks}}
                                  {{#each tasks}}
                                    <tr>
                                        <td>
                                            <a href="/completed"><i class="glyphicon glyphicon-ok text-success" data-toggle="tooltip" data-placement="bottom" title="Mark Completed"></i></a> &nbsp;
                                            <a href="/edit"><i class="glyphicon glyphicon-pencil text-muted" data-toggle="tooltip" data-placement="bottom" title="Edit Task"></i></a> &nbsp;
                                            <a href="/tasks/delete/{{id}}"><i class="glyphicon glyphicon-remove text-danger" data-toggle="tooltip" data-placement="bottom" title="Delete Task"></i></a>
                                        </td>
                                        <td> {{User.userName}} </td>
                                        <td> {{title}} </td>
                                        <td> {{notes}} </td>
                                        <td> {{Category.title}} </td>
                                    </tr>
                                  {{/each}}
                                {{else}}
                                    <tr>
                                        <td colspan="5">There is no data available</td>
                                    </tr>
                                {{/if}}
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div> <!-- ./table-responsive -->
                    </div> <!-- ./well -->
                </div> <!-- /.tab-pane -->

                <div role="tabpanel" class="tab-pane fade" id="add-task">
                    <br>
                    <div class="well">
                        <legend> Add New Task </legend>
                        <form method="POST" action="/tasks/addTask">
                            <div class="form-group row">
                                <label for="title" class="col-xs-2 col-form-label">Task</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" name="title" id="title" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="notes" class="col-xs-2 col-form-label">Notes</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" name="notes" id="notes" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="UserId" class="col-xs-2 col-form-label">User</label>
                                <div class="col-xs-10">
                                    <select class="form-control" name="UserId" id="UserId">
                                        <option value="">Select...</option>
                                      {{#each users}}
                                        <option value="{{id}}">{{userName}}</option>
                                      {{/each}}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="CategoryId" class="col-xs-2 col-form-label">Category</label>
                                <div class="col-xs-10">
                                    <select class="form-control" name="CategoryId" id="CategoryId">
                                        <option value="">Select...</option>
                                      {{#each categories}}
                                        <option value="{{id}}">{{title}}</option>
                                      {{/each}}
                                    </select>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success"> Add Task </button>
                        </form>
                    </div> <!-- ./well -->
                </div> <!-- ./tab-pane -->
            </div> <!-- /.tab-content -->
        </div> <!-- /.col -->
    </div> <!-- /.row -->
</div> <!-- /.container -->