<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <br>
            <legend>To-Do Items</legend>

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#task-list-pending" aria-controls="task list" role="tab" data-toggle="tab">Pending Tasks</a></li>
                <li role="presentation"><a href="#task-list-completed" aria-controls="task list" role="tab" data-toggle="tab">Completed Tasks</a></li>
                <li role="presentation"><a href="#add-task" aria-controls="add task" role="tab" data-toggle="tab">Add Task</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="task-list-pending">

                    <div class="well">
                        <div class="table-responsive">
                            {{{pendingTable}}}
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="task-list-completed">

                    <div class="well">
                        <div class="table-responsive">
                            {{{completedTable}}}
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="add-task">
                    <br>
                    <div class="well">
                        <form method="POST" action="/tasks/addTask">
                            <div class="form-group">
                                <label for="title">Task</label>
                                <input type="text" class="form-control" name="title" id="title" />
                            </div>

                            <div class="form-group">
                                <label for="notes">Notes</label>
                                <input type="text" class="form-control" name="notes" id="notes" />
                            </div>

                            <div class="form-group">
                                <label for="UserId">User</label>
                                <select class="form-control" name="UserId" id="UserId">
                                    <option value="">Select...</option>
                                    {{#each users}}
                                        <option value="{{id}}">{{userName}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="CategoryId">Category</label>
                                <select class="form-control" name="CategoryId" id="CategoryId">
                                    <option value="">Select...</option>
                                    {{#each categories}}
                                        <option value="{{id}}">{{title}}</option>
                                    {{/each}}
                                </select>
                                </div>
                                <button type="submit" class="btn btn-success"> Add Task </button>
                            </div>
                        </form>
                    </div> <!-- ./well -->
                </div> <!-- ./tab-pane -->
            </div> <!-- /.tab-content -->
        </div> <!-- /.col -->
    </div> <!-- /.row -->
</div> <!-- /.container -->