<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2> System Users </h2>

        {{#if errors}}
          {{#each errors}}
            <p class="red">{{this}}</p>
          {{/each}}
        {{/if}}

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#user-list" aria-controls="user list" role="tab" data-toggle="tab">View Users</a></li>
                <li role="presentation"><a href="#add-user" aria-controls="add user" role="tab" data-toggle="tab">Add User</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="user-list">
                    <br>
                    <div class="well">
                        <legend> User Listing </legend>
                        <div class="table-responsive">
                           <table class="table table-striped table-hover" id="users-table">
                               <thead>
                                   <tr class="text-blue">
                                       <th> Action </th>
                                       <th> First Name </th>
                                       <th> Last Name </th>
                                       <th> Username </th>
                                       <th> Email Address </th>
                                       <th> Join Date </th>
                                   </tr>
                               </thead>
                               <tbody>
                               {{#if users}}
                                 {{#each users}}
                                   <tr>
                                       <td>
                                           <a href="/edit"><i class="glyphicon glyphicon-pencil text-muted" data-toggle="tooltip" data-placement="bottom" title="Edit User"></i></a> &nbsp;
                                           <a href="/remove"><i class="glyphicon glyphicon-remove text-danger" data-toggle="tooltip" data-placement="bottom" title="Delete User"></i></a>
                                       </td>
                                       <td> {{firstName}} </td>
                                       <td> {{lastName}} </td>
                                       <td> {{userName}} </td>
                                       <td> {{email}} </td>
                                       <td> {{createdAt}} </td>
                                   </tr>
                                 {{/each}}
                               {{else}}
                                   <tr>
                                       <td colspan="6"> There is no data available </td>
                                   </tr>
                               {{/if}}
                               </tbody>
                           </table>
                        </div> <!-- ./table-responsive -->
                    </div> <!-- ./well -->
                </div> <!-- /.tab-pane -->

                <div role="tabpanel" class="tab-pane fade" id="add-user">
                    <br>
                    <div class="well">
                    <legend> Add New User </legend>
                        <form method="POST" action="/users/addUser">
                            <div class="form-group row">
                                <label for="firstName" class="col-xs-2 col-form-label">First Name</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" name="firstName" id="firstName" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="lastName" class="col-xs-2 col-form-label">Last Name</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" name="lastName" id="lastName" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="userName" class="col-xs-2 col-form-label">User Name</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" name="userName" id="userName" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-xs-2 col-form-label">Email Address</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" name="email" id="email" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-xs-2 col-form-label">Password</label>
                                <div class="col-xs-10">
                                    <input type="password" class="form-control" name="password" id="password" />
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success"> Add User </button>
                        </form>
                    </div> <!-- ./well -->
                </div> <!-- ./tab-pane -->
            </div> <!-- ./tab-content -->
        </div> <!-- ./col -->
    </div> <!-- /.row -->
</div> <!-- /.container -->